@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$background: #0d1b1e;

$backgroundJob: #2D4C53;
$backgroundJobListBlock: #738589;

$backgroundItemsList: #3C585E;
$backgroundItemsListBlock: #738589;
$addButton: #A3C19B;

$backgroundItemBlock: #919D9F;
$inputColor: #C8D1D2;

$dragColorBack: #FEC555;
$deleteColorBack: #FE5F55;

$B_Background: #0E191C;
$B_icon: #39616A OR #356C78; //JUST FOR INFORMATION, NOT USED FOR THE REAL ICON COLOR (all icons are just PNG img).
$B_Border: #33575F;
$B_Text: WHITE;

*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p{

  &[class*="gray"]{
    color: #aeaeae
  }

}
