@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p[class*=gray] {
  color: #aeaeae;
}

body {
  display: grid;
  grid-template-columns: [first] 30vw [second] 70vw;
  background-color: #0d1b1e;
  overflow-x: hidden;
  overflow-y: hidden;
}
body a {
  color: #70a3be;
  text-decoration: none;
}

#backContainerParameter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 999;
}
#backContainerParameter #containerParameter {
  background-color: #3C585E;
  width: 20vw;
  border-radius: 5px;
}
#backContainerParameter #containerParameter h3 {
  text-align: center;
  padding: 0 0 10px;
  border-bottom: solid 1px;
}
#backContainerParameter #containerParameter header {
  background-color: #2D4C53;
  padding: 10px 10px 0 10px;
  border-radius: 5px 5px 0 0;
}
#backContainerParameter #containerParameter .listParameters {
  padding: 10px;
}
#backContainerParameter #containerParameter .listParameters .red {
  color: #FE5F55;
  font-size: 14px;
  text-align: center;
  padding: 4px;
  margin-bottom: 15px;
  border: solid 1px #FE5F55;
}

#backContainerAbout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 999;
}
#backContainerAbout #containerAbout {
  background-color: #3C585E;
  width: 30vw;
  border-radius: 5px;
}
#backContainerAbout #containerAbout h3 {
  text-align: center;
  padding: 0 0 10px;
  border-bottom: solid 1px;
}
#backContainerAbout #containerAbout header {
  background-color: #2D4C53;
  padding: 10px 10px 0 10px;
  border-radius: 5px 5px 0 0;
}
#backContainerAbout #containerAbout .about {
  padding: 10px;
}

#frame {
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  height: 25px;
  background-color: #0E191C;
  width: 100%;
  grid-column: 1/second 2;
  position: fixed;
  z-index: 99999;
  border-bottom: solid 2px #33575F;
  color: WHITE;
  -webkit-user-select: none;
}
#frame #title {
  padding: 0 8px;
  flex: 1;
}
#frame .frameButton {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.05;
  width: 100%;
  height: 25px;
}
#frame .frameButton:hover {
  background-color: #1f373e;
  cursor: pointer;
}
#frame #frameCloseContainer {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.05;
  width: 100%;
  height: 25px;
}
#frame #frameCloseContainer:hover {
  background-color: #ec0f01;
  cursor: pointer;
}

.sortable-drag {
  display: none;
}

nav {
  -webkit-app-region: no-drag;
  grid-column: first;
  margin-top: 25px;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: [first] 40% [bar] 0 [elem2] 60%;
  transition: all 0.3s;
  overflow-x: hidden;
  position: sticky;
  top: 25px;
}
nav #mainMenuBarContainer {
  grid-column: first;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: #2D4C53;
  overflow: hidden;
}
nav #mainMenuBarContainer #mainMenuBar {
  padding: 0 10px;
}
nav #mainMenuBarContainer #mainMenuBar .menuBarItem {
  margin: 5px 0;
  background-color: #738589;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav #mainMenuBarContainer #mainMenuBar .menuBarItem:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
nav #mainMenuBarContainer #mainMenuBar .menuBarItem:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
nav #mainMenuBarContainer #mainMenuBar .menuBarItem:hover {
  cursor: pointer;
}
nav #mainMenuBarContainer #cats {
  display: none;
}
nav #mainMenuBarContainer #cats #catsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  margin: 0 10px;
}
nav #mainMenuBarContainer #cats .titleCat {
  font-size: 22px;
  color: white;
  text-align: center;
  border-bottom: 1px solid #0d1b1e;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
nav #mainMenuBarContainer #cats .catContainer {
  margin-top: 8px;
  background-color: #3C585E;
  padding: 5px;
  border-radius: 5px;
}
nav #mainMenuBarContainer #cats .subCatList {
  padding: 5px;
}
nav #mainMenuBarContainer #cats .subCatList .subCatContainer {
  display: flex;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}
nav #mainMenuBarContainer #cats .subCatList .subCatContainer:last-child {
  margin-bottom: 0;
}
nav #mainMenuBarContainer #cats .subCatList .roundSubCat {
  width: 18px;
  height: 18px;
  border-radius: 30px;
  margin-right: 5px;
}
nav #closeMenuBarJob {
  grid-column: bar;
  height: 100%;
  width: 100%;
  background-color: #2f2f33;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
nav #closeMenuBarJob:hover {
  cursor: pointer;
}
nav #closeMenuBarJob img {
  transition: all 0.2s;
  width: 100%;
}
nav #itemListBar {
  /* Track */
  /* Handle */
  /* Handle on hover */
  grid-column: elem2;
  width: 96%;
  overflow-y: auto;
  height: calc(100% - 25px);
  background-color: #3C585E;
  overflow-x: hidden;
  padding: 0 2%;
}
nav #itemListBar::-webkit-scrollbar {
  width: 8px;
}
nav #itemListBar::-webkit-scrollbar-track {
  background: #44646a;
}
nav #itemListBar::-webkit-scrollbar-thumb {
  background: #547b83;
  border-radius: 5px;
}
nav #itemListBar::-webkit-scrollbar-thumb:hover {
  background: #5c8790;
}
nav #itemListBar .menuJobTitleContainer {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 15px;
  border-bottom: solid #0d1b1e;
}
nav #itemListBar .containerMenuJobItem {
  margin: 15px 0;
}
nav #itemListBar .containerMenuJobItem .menuJobItem {
  width: 100%;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #738589;
  border-radius: 5px 5px 0 0;
}
nav #itemListBar .containerMenuJobItem .menuJobItem p {
  flex: 1;
  margin-left: 5px;
}
nav #itemListBar .containerMenuJobItem .menuJobItem .buttonAddItem {
  margin-right: 8px;
  text-align: right;
  padding: 3% 5%;
  border-radius: 5px;
  color: darkseagreen;
  border: solid 2px darkseagreen;
}
nav #itemListBar .containerMenuJobItem .buttonAddItem {
  padding: 3px;
  text-align: center;
  background-color: #A3C19B;
  border-radius: 0 0 5px 5px;
}
nav #itemListBar .containerMenuJobItem .buttonAddItem:hover {
  cursor: pointer;
}
nav #bottomBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  margin-bottom: 10px;
  bottom: 0;
  width: 12vw;
}
nav .roundButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  border-radius: 32px;
  padding: 6px;
  width: 32px;
  height: 32px;
}
nav .roundButton:hover {
  cursor: pointer;
}

#containerCalc {
  margin-top: calc(25px + 2px);
  -webkit-app-region: no-drag;
  grid-column: second;
  height: 100vh;
  overflow-y: hidden;
}
#containerCalc #tabManagerBar {
  background-color: #2D4C53;
  height: 45px;
  display: flex;
  width: auto;
  overflow-x: auto;
  align-items: center;
}
#containerCalc #tabManagerBar::-webkit-scrollbar {
  display: none;
}
#containerCalc #tabManagerBar #addNewTab {
  border-radius: 5px;
  min-width: 0;
  width: 8%;
  padding: 0;
  height: 35px;
  margin-left: 10px;
}
#containerCalc #tabManagerBar #removeTab {
  border-radius: 5px;
  min-width: 0;
  width: 8%;
  padding: 0;
  height: 31px;
  margin-left: 5px;
  background-color: #152b30;
  border: solid 2px #fe473c;
  color: #fe473c;
}
#containerCalc #tabManagerBar #removeTab:active {
  border: solid 2px #b90c01;
  color: #b90c01;
}
#containerCalc #tabManagerBar .tab {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  min-width: 8%;
  padding: 0 8px;
  color: white;
  cursor: pointer;
  margin-right: 4px;
  background-color: #152b30;
}
#containerCalc #tabManagerBar .chosen {
  background: linear-gradient(0deg, #0d1b1e 0%, #0d1b1e 10%, #152b30 25%) !important;
}
#containerCalc #itemListContainer {
  padding: 0 20px 8px 8px;
  margin-top: 8px;
  overflow-y: auto;
  height: calc(100% - 72px);
  box-sizing: content-box;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#containerCalc #itemListContainer::-webkit-scrollbar {
  width: 8px;
}
#containerCalc #itemListContainer::-webkit-scrollbar-track {
  background: #44646a;
}
#containerCalc #itemListContainer::-webkit-scrollbar-thumb {
  background: #547b83;
  border-radius: 5px;
}
#containerCalc #itemListContainer::-webkit-scrollbar-thumb:hover {
  background: #5c8790;
}
#containerCalc #itemListContainer .tooltipContainer {
  position: relative;
}
#containerCalc #itemListContainer .tooltipContainer .tooltip {
  visibility: hidden;
  width: 120px;
  bottom: 70%;
  left: 2.5%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 99;
}
#containerCalc #itemListContainer .tooltipContainer:hover .tooltip {
  visibility: visible;
}
#containerCalc input::-webkit-outer-spin-button,
#containerCalc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#containerCalc #removeAll {
  color: indianred;
  border: solid 1px indianred;
  border-radius: 5px;
  background: #3e3e43;
  padding: 5px;
}
#containerCalc #removeAll:hover {
  cursor: pointer;
}
#containerCalc .containerItemCount {
  display: flex;
  align-items: stretch;
  margin-bottom: 15px;
  flex-direction: column;
}
#containerCalc .containerItemCount .horizontalItemCount {
  display: flex;
  z-index: 2;
}
#containerCalc .containerItemCount .dragZone {
  background-color: #FEC555;
  padding: 50px 10px;
  margin-right: 10px;
  border-radius: 5px 0 0 5px;
  cursor: move;
}
#containerCalc .containerItemCount .deleteRelated {
  background-color: #FE5F55;
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
#containerCalc .containerItemCount .itemCount {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #919D9F;
}
#containerCalc .containerItemCount .itemCount .FirstItem {
  text-align: center;
}
#containerCalc .containerItemCount .itemCount .FirstItem input {
  width: 120px;
  border: none;
  outline: none;
  margin: 0;
  padding-left: 5px;
  background-color: #C8D1D2;
}
#containerCalc .containerItemCount .itemCount .relatedItem {
  text-align: center;
  display: flex;
  align-items: center;
}
#containerCalc .containerItemCount .itemCount .relatedItem .img {
  text-align: center;
  position: relative;
}
#containerCalc .containerItemCount .itemCount .relatedItem .showBar {
  position: absolute;
  top: 70%;
  left: 80%;
  display: none;
}
#containerCalc .containerItemCount .itemCount .relatedItem input {
  width: 120px;
  border: none;
  outline: none;
  margin: 0;
  padding-left: 5px;
  background-color: #C8D1D2;
}
#containerCalc .containerItemCount .detailsRelatedItemContainer {
  display: flex;
  align-items: stretch;
  margin-top: 15px;
  margin-left: 18.5%;
  text-align: center;
  transition: all 2s;
}
#containerCalc .containerItemCount .detailsRelatedItemContainer .detailsRelatedItem {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #919D9F;
  width: 100%;
  border-radius: 8px;
}
#containerCalc .containerItemCount .detailsRelatedItemContainer .detailsRelatedItem .firstRelated {
  text-align: center;
}
#containerCalc .containerItemCount .detailsRelatedItemContainer .detailsRelatedItem .firstRelated input {
  width: 120px;
  border: none;
  outline: none;
  margin: 0;
  padding-left: 5px;
  background-color: #C8D1D2;
  border-bottom-left-radius: 8px;
}
#containerCalc .containerItemCount .detailsRelatedItemContainer .detailsRelatedItem .relatedItemChild input {
  width: 120px;
  border: none;
  outline: none;
  margin: 0;
  padding-left: 5px;
  background-color: #C8D1D2;
}

@keyframes closeRelatedItemChild {
  100% {
    position: relative;
  }
}

/*# sourceMappingURL=index.css.map */
