@use "base";

body{
  display: grid;
  grid-template-columns: [first]30vw [second] 70vw;
  background-color: base.$background;
  overflow-x: hidden;
}
.sortable-drag{

  display: none;

}
nav{
  grid-column: first;
  width: 100%;
  height: 100vh;
  background-color: goldenrod;
  display: grid;
  grid-template-columns: [first]40% [bar] 0 [elem2]60%;
  transition: all .3s;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  #mainMenuBarContainer{
    #mainMenuBar{

      padding: 0 10px;

      .menuBarItem{
        margin: 5px 0;
        background-color: base.$backgroundJobListBlock;
        &:first-child{
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
        &:last-child{
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &:hover{
          cursor: pointer;
        }
        color: white;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    grid-column: first;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: base.$backgroundJob;


  }
  #closeMenuBarJob{

    grid-column: bar;
    height: 100%;
    width: 100%;
    background-color: darken(#434348, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      cursor: pointer;
    }
    transition: all .3s;

    img{
      transition: all .2s;
      width: 100%;
    }

  }
  #itemListBar{

    grid-column: elem2;
    width: 96%;
    height: 100%;
    overflow-y: auto;

    background-color: base.$backgroundItemsList;
    overflow-x: hidden;
    padding: 0 2%;

    .menuJobTitleContainer{
      text-align: center;
      color: white;
      font-size: 18px;
      padding: 15px;
      border-bottom: solid base.$background;
    }

    .containerMenuJobItem{

      .menuJobItem {

        width: 100%;
        color: white;

        height: 80px;

        display: flex;
        align-items: center;
        background-color: base.$backgroundItemsListBlock;

        p {
          flex: 1;
        }

        .buttonAddItem {

          margin-right: 8px;
          text-align: right;
          padding: 3% 5%;
          border-radius: 5px;
          color: darkseagreen;
          border: solid 2px darkseagreen;


        }
        border-radius: 5px 5px 0 0;
      }
      .buttonAddItem{

        padding: 3px;
        text-align: center;
        background-color: base.$addButton;
        &:hover {
          cursor: pointer;
        }
        border-radius: 0 0 5px 5px;

      }
      margin: 15px 0;
      
    }

  }
}
#containerCalc{
  grid-column: second;
  padding: 8px 20px 8px 8px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  #removeAll{

    color: indianred;
    border: solid 1px indianred;
    border-radius: 5px;
    background: darken(#434348, 2%);
    padding: 5px;
    &:hover{
      cursor: pointer;
    }

  }
  .containerItemCount{
    display: flex;

    align-items: stretch;
    margin-bottom: 15px;
    .dragZone{
      background-color: base.$dragColorBack;
      padding: 50px 10px;
      margin-right: 10px;
      border-radius: 5px 0 0 5px;
      cursor: move;
    }
    .deleteRelated{
      background-color: base.$deleteColorBack;
      padding: 0 10px;
      border: none;
      outline: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;

    }

    .itemCount {
      width: 100%;
      display: flex;

      align-items: center;
      background-color: base.$backgroundItemBlock;
      overflow-y: hidden;
      .FirstItem{
        input{

          width: 120px;
          border: none;
          outline: none;
          margin: 0;
          padding-left: 5px;
          background-color: base.$inputColor;

        }
        text-align: center;

      }
      .relatedItem {

        text-align: center;
        input{

          width: 120px;
          border: none;
          outline: none;
          margin: 0;
          padding-left: 5px;
          background-color: base.$inputColor;

        }

        display: flex;

        align-items: center;
      }
    }

  }
}
