@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p[class*=gray] {
  color: #aeaeae;
}

body {
  display: grid;
  grid-template-columns: [first] 30vw [second] 70vw;
  background-color: #0D1B1E;
  overflow-x: hidden;
}

.sortable-drag {
  display: none;
}

nav {
  grid-column: first;
  width: 100%;
  height: 100vh;
  background-color: goldenrod;
  display: grid;
  grid-template-columns: [first] 40% [bar] 0 [elem2] 60%;
  transition: all 0.3s;
  overflow-x: hidden;
  position: sticky;
  top: 0;
}
nav #mainMenuBarContainer {
  grid-column: first;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: #2D4C53;
}
nav #mainMenuBarContainer #mainMenuBar {
  padding: 0 10px;
}
nav #mainMenuBarContainer #mainMenuBar .menuBarItem {
  margin: 5px 0;
  background-color: #738589;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav #mainMenuBarContainer #mainMenuBar .menuBarItem:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
nav #mainMenuBarContainer #mainMenuBar .menuBarItem:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
nav #mainMenuBarContainer #mainMenuBar .menuBarItem:hover {
  cursor: pointer;
}
nav #closeMenuBarJob {
  grid-column: bar;
  height: 100%;
  width: 100%;
  background-color: #2f2f33;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
nav #closeMenuBarJob:hover {
  cursor: pointer;
}
nav #closeMenuBarJob img {
  transition: all 0.2s;
  width: 100%;
}
nav #itemListBar {
  grid-column: elem2;
  width: 96%;
  height: 100%;
  overflow-y: auto;
  background-color: #3C585E;
  overflow-x: hidden;
  padding: 0 2%;
}
nav #itemListBar .menuJobTitleContainer {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 15px;
  border-bottom: solid #0D1B1E;
}
nav #itemListBar .containerMenuJobItem {
  margin: 15px 0;
}
nav #itemListBar .containerMenuJobItem .menuJobItem {
  width: 100%;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #738589;
  border-radius: 5px 5px 0 0;
}
nav #itemListBar .containerMenuJobItem .menuJobItem p {
  flex: 1;
  margin-left: 5px;
}
nav #itemListBar .containerMenuJobItem .menuJobItem .buttonAddItem {
  margin-right: 8px;
  text-align: right;
  padding: 3% 5%;
  border-radius: 5px;
  color: darkseagreen;
  border: solid 2px darkseagreen;
}
nav #itemListBar .containerMenuJobItem .buttonAddItem {
  padding: 3px;
  text-align: center;
  background-color: #A3C19B;
  border-radius: 0 0 5px 5px;
}
nav #itemListBar .containerMenuJobItem .buttonAddItem:hover {
  cursor: pointer;
}

#containerCalc {
  grid-column: second;
  padding: 8px 20px 8px 8px;
}
#containerCalc input::-webkit-outer-spin-button,
#containerCalc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#containerCalc #removeAll {
  color: indianred;
  border: solid 1px indianred;
  border-radius: 5px;
  background: #3e3e43;
  padding: 5px;
}
#containerCalc #removeAll:hover {
  cursor: pointer;
}
#containerCalc .containerItemCount {
  display: flex;
  align-items: stretch;
  margin-bottom: 15px;
  flex-direction: column;
  overflow-y: hidden;
}
#containerCalc .containerItemCount .horizontalItemCount {
  display: flex;
  z-index: 2;
}
#containerCalc .containerItemCount .dragZone {
  background-color: #FEC555;
  padding: 50px 10px;
  margin-right: 10px;
  border-radius: 5px 0 0 5px;
  cursor: move;
}
#containerCalc .containerItemCount .deleteRelated {
  background-color: #FE5F55;
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
#containerCalc .containerItemCount .itemCount {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #919D9F;
  overflow-y: hidden;
}
#containerCalc .containerItemCount .itemCount .FirstItem {
  text-align: center;
}
#containerCalc .containerItemCount .itemCount .FirstItem input {
  width: 120px;
  border: none;
  outline: none;
  margin: 0;
  padding-left: 5px;
  background-color: #C8D1D2;
}
#containerCalc .containerItemCount .itemCount .relatedItem {
  text-align: center;
  display: flex;
  align-items: center;
}
#containerCalc .containerItemCount .itemCount .relatedItem .img {
  text-align: center;
  position: relative;
}
#containerCalc .containerItemCount .itemCount .relatedItem .showBar {
  position: absolute;
  top: 70%;
  left: 80%;
  display: none;
}
#containerCalc .containerItemCount .itemCount .relatedItem input {
  width: 120px;
  border: none;
  outline: none;
  margin: 0;
  padding-left: 5px;
  background-color: #C8D1D2;
}
#containerCalc .containerItemCount .detailsRelatedItemContainer {
  display: flex;
  align-items: stretch;
  margin-top: 15px;
  margin-left: 18.5%;
  text-align: center;
  transition: all 2s;
}
#containerCalc .containerItemCount .detailsRelatedItemContainer .detailsRelatedItem {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #919D9F;
  width: 100%;
  border-radius: 8px;
}
#containerCalc .containerItemCount .detailsRelatedItemContainer .detailsRelatedItem .firstRelated {
  text-align: center;
}
#containerCalc .containerItemCount .detailsRelatedItemContainer .detailsRelatedItem .firstRelated input {
  width: 120px;
  border: none;
  outline: none;
  margin: 0;
  padding-left: 5px;
  background-color: #C8D1D2;
  border-bottom-left-radius: 8px;
}
#containerCalc .containerItemCount .detailsRelatedItemContainer .detailsRelatedItem .relatedItemChild input {
  width: 120px;
  border: none;
  outline: none;
  margin: 0;
  padding-left: 5px;
  background-color: #C8D1D2;
}

@keyframes closeRelatedItemChild {
  100% {
    position: relative;
  }
}

/*# sourceMappingURL=index.css.map */
